.jumbotron {
  background-image: url(../gambar/bg.jpg);
  background-size: cover;
  height: 720px;
  text-align: center;
}

.jumbotron .display-4 {
  color: white;
}

.jumbotron .lead {
  color: white;
}

.jumbotron .btn {
  background-color: #f05f40;
  border: none;
  border-radius: 25px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: 25px;
  margin-top: 40px;
}
